# **Pharmaceutical Sales prediction across multiple stores**

**Forecasting Sales is a essential use of Machine Learning(ML).Sales forecasts can be used to identify benchmarks and determine incremental impacts of new initiatives, plan resources in response to expected demand and project future budgets.**

## **Table of contents**
     1. Exploring the data and Data Pre-processing
     2. Building models with sklearn pipelines
     3. Choose a loss function
     4. Post Prediction analysis
     5. Serialize models

 ## **1. Data Preprocessing**

  1.1 Importing Libraries

In [9]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
train_data=pd.read_csv('/content/drive/My Drive/Output.csv')

In [11]:
train_data.head()

   Weekdays  Weeks  Months  ...  Promo2SinceWeek  Promo2SinceYear    PromoInterval
0         1     23       6  ...              NaN              NaN  Jan,Apr,Jul,Oct
1         1     23       6  ...             10.0           2014.0  Jan,Apr,Jul,Oct
2         1     23       6  ...             14.0           2011.0  Jan,Apr,Jul,Oct
3         1     23       6  ...              NaN              NaN  Jan,Apr,Jul,Oct
4         1     23       6  ...              NaN              NaN  Jan,Apr,Jul,Oct

[5 rows x 22 columns]

In [ ]:
#Checking the no. of NaN values
train_data.isna().sum()